.message-form {
  border: 2px solid black;
  width: 500px;

  @media (min-width: 768px) {
    width: 740px;
  }

  @media (min-width: 1024px) {
    width: 980px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  form {
    .form-group {
    }
  }
}
