.container {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  .portfolio-cards {
    margin: auto;
    display: grid;
    width: 98%;
    grid-template-columns: repeat(2, 1fr);

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 760px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 920px;
      grid-template-columns: repeat(3, 1fr);
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 1160px;
    }
  }
}
