.plan-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  padding-bottom: 3em;
  border: 1px solid #ececec;

  > h3 {
    color: #868f9b;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1em;
  }

  &:after {
    z-index: -1;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 0%;
    background-color: #1e1c1c;
    transition: 0.2s height;
  }

  &:hover {
    > h3,
    .price {
      color: white;
    }

    &:after {
      height: 100%;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border: 2px solid #6195ff;

    span {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -2px;
    }

    label {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
      transform: translateY(-5px);
    }
  }

  .features {
    padding-top: 1em;
    padding-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.75em;
    font-weight: 400;

    span {
      color: #868f9b;
    }
  }
}
