.section-title {
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;

  &:after {
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    background-color: #1e1c1c;
    margin-top: 10px;
  }
}
