.container {
  padding-top: 75px;
  padding-bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .team-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
    row-gap: 1.5em;
    width: 95vw;

    @media (min-width: 768px) {
      width: 740px;
    }

    @media (min-width: 1024px) {
      width: 980px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
